<footer>
  <div class="spc_info_footer">
    <div class="box_logo">
      <img src="assets/images/logo_blanco_completo.png" alt=""/>
    </div>
    <div class="dirc">
      <a href="#">correo@correo.com</a>
      <a href="#">Calle Lorem, 122A 7a</a>
    </div>
    <div class="sps_social_networks">
      <a href="#">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#"><i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>