<header>
  <div class="box_menu_lateral"><a class="option_menu" href="#home">
      <div class="icono">
        <img src="assets/images/home_icon.svg" alt=""/>
      </div>
      <div class="cntrl_span">
        <span>{{"home" | translate}}</span>
      </div>
    </a>
    <a class="option_menu" href="#aboutus">
      <div class="icono">
        <img src="assets/images/about_icon.svg" alt=""/>
      </div>
      <div class="cntrl_span">
        <span>{{"about" | translate}}</span>
      </div>
    </a>
    <a class="option_menu" href="#team">
      <div class="icono">
        <img src="assets/images/services_icon.svg" alt=""/>
      </div>
      <div class="cntrl_span">
        <span>{{"team" | translate}}</span>
      </div>
    </a>
    <a class="option_menu" href="#tech">
      <div class="icono">
        <img src="assets/images/tech_icon.svg" alt=""/>
      </div>
      <div class="cntrl_span">
        <span>{{"technologies" | translate}}</span>
      </div></a>
      <a class="option_menu" href="#contact">
      <div class="icono">
        <img src="assets/images/contact_icon.svg" alt=""/>
      </div>
      <div class="cntrl_span">
        <span>{{"contact" | translate}}</span>
      </div>
    </a>
  </div>
</header>

<!-- <div class="boton_idioma" >
  <div value="es" class="lang">ES</div>
  <div value="en" class="lang">EN</div>
</div> -->