<section class="main_section mask dff minus_marg ordr4" id="tech">
  <div class="spc_main_top thrid_msk half">
    <div class="icon_bottom_buttom"><a href="#contact"><img src="assets/images/arrow_boton_bajar-26.svg" alt=""/></a></div>
    <div class="img_bg_purple">
      <div class="robot1"><img src="assets/images/robot_1.png" alt=""/></div>
      <div class="robot2"><img src="assets/images/robot_2.png" alt=""/></div>
      <div class="robot3"><img src="assets/images/robot_3.png" alt=""/></div>
    </div>
    <div class="content_main">
      <div class="container">
        <div class="content_two">
          <div class="lado_a">
            <div class="titulo_sect">
              <h3>{{"texto12" | translate}}</h3>
            </div>
            <ol> 
              <li>Blockchain
                <ul>
                  <li class="lvl1">{{"texto13" | translate}}</li>
                  <li class="lvl1">{{"texto14" | translate}}</li>
                  <li class="lvl1">{{"texto15" | translate}}</li>
                  <li class="lvl1">{{"texto16" | translate}}</li>
                  <li class="lvl1">{{"texto17" | translate}}
                    <ul>
                      <li class="lvl2">{{"texto18" | translate}}</li>

                    </ul>
                  </li>
                  <li class="lvl1">{{"texto19" | translate}}</li>
                  <li class="lvl1">{{"texto20" | translate}}</li>
                  <li class="lvl1">{{"texto21" | translate}}</li>
                  <li class="lvl1">{{"texto22" | translate}}</li>
                  <li class="lvl1">{{"texto23" | translate}}</li>
                  <li class="lvl1">{{"texto24" | translate}}</li>
                </ul>
               
              </li>
            </ol>
          </div>
          <div class="lado_b">
            <div class="titulo_sect">
              <h3>{{"texto25" | translate}}</h3>
            </div>
            <ol> 
              <li>{{"texto26" | translate}}</li>
              <li>Full Stack
                <ul>
                  <li class="lvl1">{{"texto27" | translate}}</li>

                </ul>
              </li>
              <li>{{"texto28" | translate}}
                <ul>
                  <li class="lvl1">Apps</li>

                </ul>
              </li>
              <li>{{"texto29" | translate}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>