<section class="main_section mask minus_marg ordr2" id="aboutus">
  <div class="spc_main_top second_msk">
    <div class="icon_bottom_buttom"><a href="#team"><img src="assets/images/arrow_boton_bajar-26.svg" alt=""/></a></div>
    <div class="content_main">
      <div class="container">
        <div class="content_two">
          <div class="lado_a_info">
            <h3> {{"texto3" | translate}} </h3>
            <p> {{"texto4" | translate}} </p>
          </div>
          <div class="lado_b_info">
            <div class="box_img_logo_color"><img src="assets/images/logo_color.png" alt=""/></div>
          </div>
          <div class="img_infografia">
            <div class="box_img_infografia"><img src="assets/images/infografia.png" alt=""/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>