<section class="main_section mask minus_marg ordr3" id="team">
  <div class="spc_main_top thrid_msk">
    <div class="icon_bottom_buttom"><a href="#tech"><img src="assets/images/arrow_boton_bajar-27.svg" alt=""/></a></div>
    <div class="content_main">
      <div class="container">
        <div class="content">
          <div class="content_team">
            <h2>{{"texto5" | translate}}</h2>
            <p>{{"texto6" | translate}}</p>
          </div>
          <div class="box_icons_main">
            <div class="icons_group">
              <div class="box_icon main_icon">
                <div class="icon"><img src="assets/images/agile_coach.png" alt=""/></div>
                <div class="name_icon">Agile Coach</div>
              </div>
              <div class="box_icon special">
                <div class="icon"><img src="assets/images/designer_ux_ui.png" alt=""/></div>
                <div class="name_icon">{{"texto7" | translate}}</div>
              </div>
              <div class="box_icon special">
                <div class="icon"><img src="assets/images/graphic_designer.png" alt=""/></div>
                <div class="name_icon">{{"texto8" | translate}}</div>
              </div>
              <div class="box_icon special">
                <div class="icon"><img src="assets/images/full_stack_dev.png" alt=""/></div>
                <div class="name_icon">{{"texto9" | translate}}</div>
              </div>
              <div class="box_icon special">
                <div class="icon"><img src="assets/images/blockchain_dev.png" alt=""/></div>
                <div class="name_icon">{{"texto10" | translate}}</div>
              </div>
              <div class="box_icon special">
                <div class="icon"><img src="assets/images/marketing.png" alt=""/></div>
                <div class="name_icon">{{"texto11" | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>