<section class="main_section minus_marg ordr5" id="contact">
  <div class="spc_main_top fourth_msk">
    <div class="content_main">
      <div class="container">
        <div class="content_contact">
          <h3>{{"texto30" | translate}}</h3>
          <form class="grid_form">
            <input type="text" placeholder="Name"/>
            <input type="text" placeholder="E-mail"/>
            <textarea name="" cols="30" rows="10" placeholder="Message"></textarea>
            <div class="spc_button_submit">
              <button type="submit"> {{"texto31" | translate}} </button>
            </div>
          </form><img src="assets/images/img_contact.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>