<section class="main_section mask ordr1 minus_marg" id="home">
  <div class="spc_main_top first_msk">
    <div class="icon_bottom_buttom"><a href="#aboutus"><img src="assets/images/arrow_boton_bajar-25.svg" alt=""/></a></div>
    <div class="spc_img_bg_frst_sec">
      <div class="logo_main"><img src="assets/images/logo_blanco.png" alt=""/></div>
      <div class="text_main">
        <h2> {{"texto1" | translate}} </h2>
        <h4> {{"texto2" | translate}} </h4>
      </div>
    </div>
  </div>
</section>